html{
    background:url(images/corvetteZR1Background.jpg.jpg) no-repeat center fixed;
    background-size: cover;
}

body{
    margin-top: 575px;
}
div{
    border-radius: 25px;
    width: 600px;
    margin: 175px auto;
    padding: 40px 75px; 
    background-color: white
}

.cten{
    border: 2px solid grey;
    box-shadow: 2px 2px black;
}

.aerodynamics{
    border: 2px solid rgb(231, 6, 6);
    box-shadow: 2px 2px rgb(25, 240, 25);

}
.aesthetics{
    border: 2px solid  #7694ff;
    box-shadow: 2px 2px  #2450f1;
}

/* text styles */
h1,h2{
    font-family: 'Raleway', sans-serif;
}

h1{
    color: white;
    text-align: center;
    letter-spacing: 2px;
    font-size: 45px;
    text-shadow: 2px 2px black;
}

h2{
    font-variant: small-caps;
}

p, ul {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.5px ;
}

span {
    font-family: papyrus;
}    




/* tutorial notes */
.tutorial {
    font-size: 12px;


}
/* <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">For google fonts */
/* link styles */
a{
    color: #0000cc;
    text-decoration: none;
}
a:hover{
    text-decoration: underline; 
}


/*image style */
img{
    vertical-align: middle; 
}